
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>登录</title>
     {% load staticfiles %}
    <!--图标和图标库文件-->
    <link href="{%  static 'dist/css/font-awesome.min.css' %}" rel= 'stylesheet'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css ' %}" >
    <!--自己的-->
    <link rel="stylesheet" href="{%  static 'dist/css/reglogin.min.css' %}">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>[ V ]</h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong> [ V ]</strong></h4>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                </ul>
                <strong>还没有账号？ <a href="/chat/register/">立即注册&raquo;</a></strong>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" id="loginForm"  action="/chat/loginVerify/">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到多人聊天室</p>
                <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
                <input type="text" name="username" class="form-control uname" placeholder="手机号或邮箱" required />
                <input type="password" name="password" class="form-control pword m-b" placeholder="密码" required />
                <input type="hidden" name="next" value="$!{next}"/>
                <a href="#">忘记密码了？</a>
                <button type="submit" class="btn btn-success btn-block">登录</button>
            </form>

            <script type="text/javascript">
                if ({{ error }}==1)
                    alert("用户名或密码错误！");
                else if({{ error}}==2)
                    alert("请输入用户名和密码！")
            </script>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2018 All Rights Reserved. vechace
        </div>
    </div>
</div>


<script type="text/javascript">
    (function(){
        window.scrollReveal = new scrollReveal({reset: true});
    })();
</script>
<script src="{% static 'plugis/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugis/main.js' %}"></script>
</body>
</html>